<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/styles.css" />
    <title>A.EZ|Create</title>
  </head>
  <body>
    <div class="container">
      <div class="card">
        <div class="card-content">
          <h1>Create Room</h1>
          <form method="post">
            <div class="input-field">
              <input
                placeholder="Room name"
                id="room"
                name="room"
                type="text"
                required
              />
              <label for="room">Room Name</label>
            </div>
            <button
              class="waves-effect waves-light waves-light red btn"
              id="btn"
              type="submit"
            >
              Create
            </button>
            <a href="/" class="waves-effect waves-light waves-light red btn"
              >Cancel</a
            >
          </form>
        </div>
      </div>
    </div>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
